<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asger.flageye">

    <application
        android:allowBackup="true"
        android:icon="@drawable/india"
        android:label="FlagEye"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.Alpha"
            android:label="@string/title_activity_alpha__alpha"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asger.flageye.MainActivity" />
        </activity>

        <activity android:name="layout.unknown.Unknown"
            android:parentActivityName=".MainActivity" />

        <activity android:name="layout.bravo.Bravo" />
        <activity android:name="layout.charlie.Charlie" />
        <activity android:name="layout.delta.Delta" />
        <activity android:name="layout.echo.Echo" />
        <activity android:name="layout.foxtrot.Foxtrot" />
        <activity android:name="layout.golf.Golf" />
        <activity android:name="layout.hotel.Hotel" />
        <activity android:name="layout.india.India" />
        <activity android:name="layout.juliet.Juliet" />
        <activity android:name="layout.kilo.Kilo" />
        <activity android:name="layout.lima.Lima" />
        <activity android:name="layout.mike.Mike" />
        <activity android:name="layout.november.November" />
        <activity android:name="layout.oscar.Oscar" />
        <activity android:name="layout.papa.Papa" />
        <activity android:name="layout.quebeck.Quebeck" />
        <activity android:name="layout.romeo.Romeo" />
        <activity android:name="layout.sierra.Sierra" />
        <activity android:name="layout.tango.Tango" />
        <activity android:name="layout.uniform.Uniform" />
        <activity android:name="layout.victor.Victor" />
        <activity android:name="layout.whisky.Whisky" />
        <activity android:name="layout.xray.Xray" />
        <activity android:name="layout.yankee.Yankee" />
        <activity android:name="layout.zulu.Zulu" />

    </application>

</manifest>